<script type="text/javascript">
  $("#nav li").removeClass("active");
  $("#nav-home").addClass("active");s
</script>
<form action="/calc" method="post" class="form-horizontal span6">
  <legend>Enter patient's familial details:</legend>
  <div class="control-group">
    <label class="checkbox">
      <input type="checkbox" name="firstdeg1"> Mother, sister or daughter
    </label>
    <label class="control-label" for="firstdeg1age">Age of onset:</label>
    <div class="controls">
      <select name="firstdeg1age">
        <option value="0">20-29</option>
        <option value="1">30-39</option>
        <option value="2">40-49</option>
        <option value="3">50-59</option>
        <option value="4">60-69</option>
        <option value="5">70-79</option>
      </select>
      <span class="help-inline">Youngest</span>
    </div>
  </div>
  <div class="control-group">
    <label class="checkbox">
      <input type="checkbox" name="firstdeg2"> Mother, sister or daughter
    </label>
    <label class="control-label" for="firstdeg2age">Age of onset:</label>
    <div class="controls">
      <select name="firstdeg2age">
        <option value="0">20-29</option>
        <option value="1">30-39</option>
        <option value="2">40-49</option>
        <option value="3">50-59</option>
        <option value="4">60-69</option>
        <option value="5">70-79</option>
      </select>
    </div>
  </div>
  <hr />
  <div class="control-group">
    <label class="checkbox">
      <input type="checkbox" name="secdeg1"> Grandmother, aunt or niece
    </label>
    <label class="control-label" for="secdeg1age">Age of onset:</label>
    <div class="controls">
      <select name="secdeg1age">
        <option value="0">20-29</option>
        <option value="1">30-39</option>
        <option value="2">40-49</option>
        <option value="3">50-59</option>
        <option value="4">60-69</option>
        <option value="5">70-79</option>
      </select>
      <span class="help-inline">Youngest</span>
    </div>
  </div>
  <div class="control-group">
    <label class="checkbox">
      <input type="checkbox" name="secdeg2"> Grandmother, aunt or niece
    </label>
    <label class="control-label" for="secdeg2age">Age of onset:</label>
    <div class="controls">
      <select name="secdeg2age">
        <option value="0">20-29</option>
        <option value="1">30-39</option>
        <option value="2">40-49</option>
        <option value="3">50-59</option>
        <option value="4">60-69</option>
        <option value="5">70-79</option>
      </select>
    </div>
  </div>
  <div class="form-actions">
    <input type="submit" class="btn btn-success" value="Calculate!" />
  </div>
</form>